<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="./project-marin.css">
</head>
<body>
<div class="header">
    <div class="header-logo">Reform</div>
    <div class="header-list">
        <ol>
            <li>Login</li>
            <li>Sign up</li>
        </ol>
    </div>
</div>


<div class="main">
    <div class="banner">
     <img src="https://i.imgur.com/b6gmE7D.jpg">
     <p>Reform is ...</p>
    </div>

    <div class="contents">
        <h2>Ideas</h2>
        <div class="contents-item">

        </div>

    </div>

</div>


<div class="footer">
    <div class="footer-logo">Reform</div>
    <div class="footer-list">
        <ul>
            <li>About Reform</li>
            <li>FAQ</li>
        </ul>
    </div>
</div>


</body>
</html>