@import "../styles/style.scss";

.footer {
    color: $text-color;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #eee;

    .footer-text {
	    margin-left: 30px;
	}

	footer-links a{
	    margin: 10px;
	}
}