@import "../../scss/global";

#leaderboard {
  width: 100%;
}

#leaderboard th {
  padding: 5px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
}

#leaderboard td {
  padding: 10px;
  vertical-align: middle;
  border-bottom:1px dashed $border-color;
}

.fab {
  padding: 10px;
  color: $primary-color;
}

.two-column.leaderboard {
  padding: 0px;
}

.column#most-projects, .column#most-likes {
  margin-bottom: $margin;
  padding: 10px;
}

@media screen and (min-width: 960px) {
  .column#most-projects {
    margin-right: $margin;
  }
}

h2.leaderboard-title {
  font-weight: bold;
}