@import "../../scss/global";

.filterbar {
  background-color: white;
  padding: 10px;
}

span {
  font-weight: normal;
}
.dropdown {
  width: 80%
}

.dropdown-content {
  padding: 10px;
}

.checkbox, .apply {
  margin: 6px;
}

