//@import "../../scss/global";

.filterbar{
  box-shadow: 1px 1px lightgrey;
  background-color: white;
  margin:10px;
  padding:8px;

}
.dropdown{
  width:80%
}

.dropdown-content{
  padding:10px;
}

.checkbox, .apply{
  padding:4px;
}

