@import "../../scss/global";

h1 {
	 font-size: $title-size;
	 text-transform: uppercase;
	 font-weight: bold;
	 color: $primary-color;
	 text-align: center;
	 margin-bottom: 30px;
 }

h2 {
	font-size: $body-size;
	text-transform: uppercase;
	font-weight: bold;
	color: $primary-color-dark;
	margin: 10px;
}

h3{
	margin: 5px;
}

.profile-img{
	width:50%;
	margin: 0 auto;
	display:block;
}

.field{
	margin-top:10px;
}

input{
	margin-bottom:20px;
}

.inputs{
	margin:5px;
}

#upload-form {
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	box-shadow: $box-drop-shadow;
}



.checkboxes, .settingbox {
	border: 1px solid $border-color;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 30px;
}
.checkbox {
	padding: 10px;
}

@media screen and (min-width: 768px) {
	#upload-form {
		padding: 50px;
		margin: $margin $page-margin;
	}

	.checkbox {
		padding: 10px;
		display: inline-block;
	}
}

//Edit
.edit-icon-wrapper {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    transition: all 300ms ease;

    &:hover, &:focus {
        cursor: pointer;
        transition: all 300ms ease;
        color: $primary-color;
    }
}