@import "../../scss/global";

h1 {
	 font-size: $title-size;
	 text-transform: uppercase;
	 font-weight: bold;
	 color: $primary-color;
	 text-align: center;
	 margin-bottom: 30px;
 }

h2 {
	font-size: $body-size;
	text-transform: uppercase;
	font-weight: bold;
	color: $primary-color-dark;
	margin: 10px;
}

h3 {
	margin: 5px;
}

.profile-img {
	width: 50%;
	margin: 0 auto;
	display: block;
}

.field {
	margin-top: 10px;
}

#settings-form {
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	box-shadow: $box-drop-shadow;
}

@media screen and (min-width: 768px) {
	#settings-form {
		padding: 50px;
		margin: $margin $page-margin;
	}
}

.edit-button,
.edit-button a {
	font-size: 11px!important;
	cursor: pointer;
}