@import "../../scss/global";

.title-input {
	width: 100%;
	border: none;
	border-bottom: 1px solid $border-color;
	display: block;
	font-size: 28px;
	color: $link-secondary;
	font-weight: light;
	transition: all 0.2s ease;

	&:focus {
		outline: none;
		color: $body-color;
		transition: all 0.2s ease;
		border-bottom: 1px solid $primary-color;
	}
}

::placeholder {
	color: #ccc;
	opacity: 1;
  }

@media screen and (min-width: 480px) {
	.upload-form {
		margin: $margin;
		padding: $page-margin;
	}
}

@media screen and (min-width: 768px) {
	.upload-form {
		margin: $margin $page-margin;
	}
}

.form-label {
	color: $body-color;
	font-weight: 700;
	padding-bottom: 5px;
}

.image-upload input {
	display: block;
	padding: 5px 0;
}

.description {
	border: 1px solid $border-color;
	padding: 10px;
	border-radius: 2px;
	box-shadow: none;
	transition: all 0.2s ease;
	color: $body-color;
	font-size: 16px;
	width: 100%;
	height: 15vh;
	min-height: 5rem;

	&:focus {
		outline: none;
		transition: all 0.2s ease;
		border: 1px solid $primary-color;
	}
}

.file {
	display: block;
	margin: auto;
	width: 50%;
}

.form-section {
	margin-bottom: $margin;
}

.checkboxes {
	border: 1px solid $border-color;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 20px;
}
.checkbox {
	padding: 10px;
	display: block;
}

@media screen and (min-width: 768px) {
	#upload-form {
		padding: 50px;
		margin: $margin $page-margin;
	}

	.checkbox {
		padding: 10px;
		display: inline-block;
	}
}

.button-menu {
	position: relative;
	display: flex;
}

.preview-images {
	width: 50%;
}