@import "@/scss/global.scss";

.comment-box {
	border: 1px #eee solid;
	padding: 30px 40px 0 40px;
	border-radius: 3px;
}

.comment-container {
  margin-bottom: 40px;
  list-style: none;
  display: flex;
}

.comment-avatar {
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}

 .badge-icon{
   color: $primary-color;
   font-size: 12px;
   padding-left: 4px;
 }

.comment-details {
  padding-left: 10px;
}

.comment-date {
  color: $light-grey;
  font-size: 11px;
  padding-left: 10px;
}

.comment-username {
  color: $body-color;

  &:hover, &:focus {
    text-decoration: underline;
  }
}