@import "@/scss/global.scss";

.comment-box {
	border: 1px #eee solid;
	padding: 30px 30px 0 30px;
	border-radius: 3px;
}

.comment-container {
  margin-bottom: 30px;
  list-style: none;
}

.comment-text {
  padding-left: 1px;
}

.comment-date {
  color: $light-grey;
  font-size: 11px;
  padding-left: 10px;
}

.comment-username {
  color: $body-color;
  padding-left: 1px;

  &:hover, &:focus {
    text-decoration: underline;
  }
}