@import "@/scss/global.scss";

.medium-card {
	background: $card-color;
	box-shadow: $box-drop-shadow;
	padding: 20px;
	font-family: $body-family;

    .card-header {
			border: none;
			box-shadow: none;
			display: flex;

        .card-header-title {
					padding: 0 10px;
					display: block;
					flex-direction: column;
        }

        .card-header-icon {
					padding: 0px;
        }
    }

    .card-content {
			padding: 20px 0!important;
    }

    .card-image {
			margin-top: 20px
    }
}

.card-creator {
	display: block;
	color: $link-secondary;
	font-weight: normal;
}

.timestamp {
	padding: 0;
	text-transform: uppercase;
	font-size: 11px;
	color: $light-grey;
}

.category-tag {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.item-title {
	font-size: 18px;
	font-weight: bold;
	display: block;
}

.media {
	padding-bottom: 20px;
}

.button-menu {
	margin-left: auto;
	padding-bottom: 25px;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.medium-card {
		margin: $margin $page-margin;
		padding: 30px $margin $margin $margin;
	}
}

.image {
	margin: 10px 0;
}

p.item-description {
	padding-top: 18px;
}

button.button-circle {
	border-radius: 50%;
  width: 36px;
	height: 36px;
	padding: 3px;
}

span.button-icon {
	transform: translateY(5px);
	margin-right: 2px;
	margin-top: -10px;
}

button.clicked {
	background: $primary-color;
	color: $button-text;
	border: $primary-color 1px solid;

	&:hover, &:focus {
		background-color: none;
	}
}

.fab {
	font-size: 16px;
	transition: all 0.3s ease;
	transform: translate(-2px, -4px);

	&:hover, &:focus {
		color: $primary-color;
	}
}

.badge-icon {
	color: $primary-color;
	font-size: 20px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
}