@import "@/scss/global.scss";

.fab {
	font-size: 24px;
	color: $primary-color;
	transition: all 0.3s ease;

	&:hover, &:focus {
		color: $primary-color-dark;
		transition: all 0.3s ease;
	}
}

.comment-box {
	border: 1px #eee solid;
	padding: 30px 40px 0 40px;
	border-radius: 3px;
}

.medium-card {
	background: $card-color;
	box-shadow: $box-drop-shadow;
	padding: 20px;
	font-family: $body-family;

    .card-header {
			border: none;
			box-shadow: none;
			display: flex;

        .card-header-title {
					padding: 0 10px;
					display: block;
					flex-direction: column;
        }

        .card-header-icon {
					padding: 0px;
        }
    }

    .card-content {
			padding: 15px 0!important;
    }

    .card-image {
			margin-top: 20px
    }
}

.card-creator {
	display: block;
	color: $link-secondary;
	font-weight: normal;
}

.timestamp {
	padding: 0;
	text-transform: uppercase;
	font-size: 11px;
	color: $light-grey;
}

.category-tag {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.item-title {
	font-size: 16px;
	font-weight: bold;
	display: block;
}

.media {
	padding-bottom: 20px;
}

.button-menu {
	margin-left: auto;
	padding-bottom: 25px;

}

@media screen and (min-width: 768px) {
	.medium-card {
		margin: $margin $page-margin;
		padding: 30px $margin $margin $margin;
	}
}

.image {
	margin: 10px 0;
}

.tag-spacing {
	margin-bottom: 15px;
}

.button-circle {
	padding: 5px;
  border-radius: 50%;
  width: 48px;
	height: 48px;
	color: $light-grey;
}