
@import "../styles/_base";

h1{
  font-size: large;
  font-weight: bold;
  color: $primary-color;
  text-align: center;
}

h2{
  font-size: medium;
  color: $text-color;
}


uploadbody {
  padding: 20px;
  background-color: $bg_color;
}

.form_field{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border:1px solid $bg_color;
}

.field{
  padding: 50px;
  border:1px solid $bg_color;
}