<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./upload.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<div class="upload_body">
    <div class="form_field">
        <h1>Upload a post</h1>

        <div class="file is-boxed">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
            </label>
        </div>

        <div class="inputs">
            <div class="form">
                <h2>Title</h2>
                <input class="input" type="text" placeholder="Provide a title to your creation">
            </div>

            <div class="form">
                <h2>Description</h2>
                <div class="control">
                    <textarea class="textarea" placeholder="Describe your creation"></textarea>
                </div>
            </div>

            <div class="materials">
                <h2>Materials used</h2>
                <div class="checkboxes">
                    <label class="checkbox">
                        <input type="checkbox">
                        Cardboard
                    </label>

                    <label class="checkbox">
                        <input type="checkbox">
                        Paper/Cardboard
                    </label>

                    <label class="checkbox">
                        <input type="checkbox">
                        Glass
                    </label>

                    <label class="checkbox">
                        <input type="checkbox">
                        Textile
                    </label>

                    <label class="checkbox">
                        <input type="checkbox">
                        Plastic
                    </label>

                    </div>
                </div>

            <div class="button">
                Post
            </div>
        </div>

    </div>

</div>




