<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Bar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./SearchBar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>


<div class="field is-grouped">
    <p class="control has-icons-left has-icons-right is-expanded">
        <input class="input" type="search" placeholder="Search">
        <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>

    </p>

    <p class="form">
        <a class="button">
            Search
        </a>
    </p>
</div>

<!--If icon folder was in this branch, replace
<i class="fas fa-search"></i> with
     <icon-base icon-name="search"><icon-search /></icon-base>

     and in vue

     <script>
import IconBase from './IconBase.vue'
import IconSearch from './icons/IconSearch.vue'

export default {
  components: {
    IconBase,
    IconSearch,
    }
    }
   </script>


     -->