@import "../styles/style.scss";

.logotype {
    font-family: $logotype-font;
    font-weight: 700;
    margin-top: 0px;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-weight: lighter;
    color: #2EBD92;
    text-transform: lowercase;
    padding: 12px 12px 12px 0;
}

.navbar {
	background-color: white;
	padding: 7px;
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 1;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #cccc;
	box-shadow: 0 0 3px #ccc;

	navlinks {
		align-self: center;
		color: #222;
		font-weight: bold;
		letter-spacing: 0.1em;
		margin-right: 12px;
	}

	navlinks a {
		margin: 5px;
	}
}