@import "../../scss/global";

header {
	width: 100%;
	position: relative;
	height: 50vh;
	min-height: 25rem;
	display: flex;
 	align-items: center;
 	justify-content:  center;
 	background: url("https://i.imgur.com/b6gmE7D.jpg");
 	overflow: hidden;

 	.overlay {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background: linear-gradient(rgba(91,76,64,0.6), rgba(0,0,0,0.1));
	    z-index: 1;

	}

	.intro-heading {
		position: relative;
		text-align: center;
		margin-top: 15px;
		color: white;
		font-size: 55px;
		font-family: $hero-font, sans-serif;
		font-weight: bold;
		z-index: 2;
		overflow-wrap: break-word;
	}

	@media screen and (max-width: 960px) {
		.intro-heading {
				font-size: 6vw;
			}
		}

	@media screen and (max-width: 400px) {
	.intro-heading {
			font-size: 1.7rem;
		}
	}
}