@import "../../scss/global.scss";

.section {
  background-color: $card-color;
}

#mission {
  background: $primary-color-light;
  padding: 0px;
}

#about {
  padding: 0px;
}

h2.title {
  text-align: center;
  font-size: 18px;
  color: $primary-color-dark;
  font-weight: lighter;
}

@media screen and (min-width: 480px) {

  h2.title {
    font-size: 1.5rem;
  }
}

p.statement {
  font-size: 16px;
  font-weight: lighter;
}