@import "../../scss/global.scss";

.profile-box {
	padding: 20px;
	border: 1px $border-color;
	text-align: center;
	position: relative;
}

.profile-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	padding: 5px;
}

.username {
	font-size: 1.5em;
	color: $body-color;
	font-weight: bold;
	margin: 15px 0;
}

.info-title {
	color: $primary-color-dark;
	font-size: 13px;
	font-weight: bold;
}

.achievement {
	border-top: solid 1px $border-color;
	text-align: center;
	align-self: center;
	padding-top: 15px;
}

.about-description {
	word-wrap: break-word;
	padding-bottom: 20px;
}

//Edit
.edit-icon-wrapper {
	position: absolute;
	padding: 10px;
	top: 10px;
	right: 10px;
	transition: all 300ms ease;

	&:hover, &:focus {
		cursor: pointer;
		transition: all 300ms ease;
		color: $primary-color;
	}
}

@media screen and (min-width: 480px) {
	.profile-img {
		width: 150px;
		height: 150px;
	}
}

@media screen and (min-width: 960px) {
    .profile-box {
			box-shadow: $box-drop-shadow;
			background-color: white;
			min-width: 252px;
			min-height: 50vh;
			margin-right: $margin;
	}

	.profile-img {
		width: 180px;
    height: 180px;
	}
}