@import "../../styles/style.scss";

.form-header {
    margin-top: 0px;
    font-family: $title-font;
    text-align: center;
    font-size: $title-size;
    font-weight: lighter;
    color: $primary-color;
    margin-bottom: 28px;
}

.login-container {
    max-width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 40px;
    border: 1px solid #ddd
}

.form input {
    font-family: $main-font, sans-serif;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    margin: 3px 0 12px 0;
    padding: 7px;
    box-sizing: border-box;
}

.form input:active, .form input:focus {
    border: 1px solid $primary-color;

}

.form .login-form {
    display: none;
}

.message {
    margin: 10px 0 0;
    font-size: 14px;
}

label {
    font-size: 16px;
}

.form .register-form {
    display: none;
}