@import "@/scss/global.scss";

.small-card {
    margin: 30px;
    box-shadow: $box-drop-shadow;
    position: relative;
    margin: 20px auto;
    color: $body-color;
    max-width: 400px;
}

.card-footer {
    border-top: solid 1px $border-color;
}

.card-content {
    padding: 15px;
}

.card-content, .card-content a {
    color: $body-color;
    display: block;

    .item-title {
        font-weight: bold;
    }

    .item-creator {
        padding-bottom: 25px;
    }

    .item-category {
        color: $link-secondary;
    }
}

.card-content a:hover {
    text-decoration: underline;
}

// @media screen and (min-width: 480px) {
//     .intro-heading {
//             font-size: 6vw;
//         }
// }