
//@import "../styles/_base";
@import "../styles/style";


//for itemcard-s.html
.small-card{
  margin: 30px;
  border: solid 1px $border-color;
}

.card-footer{
  border-top: solid 1px $border-color;
}



//for itemcard-m.html
.medium-card{
  margin: 30px;
  border: solid 1px $border-color ;
}

.time{
  padding: 1rem;
}

.media{
  border-top: solid 1px $border-color;
  padding:10px;
}

.buttons{
  padding-left:20px;
}

.button{
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
}
