<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S Item card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./itemcard.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<div class="small-card">
    <div class="card-image">
        <figure class="image is-5by4">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
    </div>


    <div class="card-content">
        <h1 class="title is-5">Title</h1>
        <a href="#">#Category</a>
    </div>

    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                <i class="fas fa-star" ></i>
                (Like Count)
            </span>
        </p>
        <p class="card-footer-item">
            <span>
                <i class="fas fa-book"></i>
                (Bookmark Count)
            </span>

        </p>
    </footer>

</div>

