@import "../../scss/global";

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    transition: opacity .3s ease;
    z-index: 9999;
}

.modal-container {
    position: relative;
    height: 40vh;
    min-height: 20rem;
    background-color: white;
    margin: auto 20px;
    box-shadow: $box-drop-shadow;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 30px;
    }

    .modal-body {
        font-size: 14px;
    }

    .modal-footer {
        padding: 40px 0px;
        display: flex;
        justify-content: space-between;
    }
}

.block {
    display: block;
}

.modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
}

.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .5s ease
}

@media screen and (min-width: 480px) {

    .modal-container {
        width: 80%;
        margin: 0 auto;

    }
}

.button-red {
	background-color: #FF5C5C;
	border-color: #FF5C5C;
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;

	&:hover {
		background-color: #FF263C;
		border-color: #FF263C;
	}
}