@import "../../scss/global.scss";

#footer {
    color: $body-color;
    text-transform: uppercase;
    border-top: 1px solid #eee;
	font-size: 12px;
	align-self: center;

    .footer-text {
		float: left;
		padding: 20px 0;
	}

	footer-links {
		float: right;
		padding: 20px 0;
	}

	footer-links a{
	    padding-left: 20px;
	}
}

@media screen and (max-width: 960px) {
	#footer {
		font-size: 11px;
		padding: 0 20px;
	}

	footer-links a {
	    float: left;
	    width: auto;
	    border: 0;
	}

}
