@import "../../scss/global";

.add-image {
	display: block;
	padding-bottom: 10px;
	justify-content: space-between;
}

.image-upload {
	display: flex;
	width: 280px;
	padding: 5px 0;
}

.image-upload input {
	padding: 5px 0;
}

.close-button {
	margin-left: auto;
	cursor: pointer;
	padding-left: 10px;
	transition: all 600ms ease;

	&:hover, &:active, &:focus  {
        transition: all 300ms ease;
        color: $primary-color;
    }
}