@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Nunito|Raleway:400,700');

/* Variables */
$logotype-font: "Playfair Display", sans-serif;
$header-font: "Playfair Display", sans-serif;
$title-font: "Raleway", sans-serif;
$title-size: 28px;
$main-font: "Nunito", sans-serif;
$primary-color: #3DBF74;
$text-color: #464443;
$text-hover-color: #64D25C;
$button-hover-color: #64D25C;
$button-text: white;
$body-font-size: 16px;


/* Base Styles */
* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $main-font;
	color: $text-color;
	font-size: $body-font-size;
}

a {
	color: $primary-color;
	text-decoration: none;
	transition: all 500ms ease;

}

a:hover {
	color: $text-hover-color;
	transition: all 700ms ease;
}