@import "../../scss/global";

h1 {
	font-size: $title-size;
	text-transform: uppercase;
	font-weight: bold;
	color: $primary-color;
	text-align: center;
	margin-bottom:30px;
}

form-label {
	color: $body-color;
	font-weight: 700;
}

.upload-page-body{
    background-color: $bg-color;
    padding-top: 65px;
	width: 100%;
	height: 100%;
    position: relative;
}

.image-upload input {
	display: block;
	padding: 5px 0;
}

.upload-form {
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	box-shadow: $box-drop-shadow;
}

.file {
	display: block;
	margin: auto;
	width: 50%;
}

.form {
	margin-top: 20px;
	margin-bottom: 10px;
}

.checkboxes {
	border: 1px solid $border-color;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 20px;
}
.checkbox {
	padding: 10px;
	display: block;
}

@media screen and (min-width: 480px) {
	.upload-form {
		padding: 50px;
		margin: 20px;
	}

	.checkbox {
		padding: 10px;
		display: inline-block;
	}
}