@import "../../scss/global";

h1 {
	font-size: $title-size;
	text-transform: uppercase;
	font-weight: bold;
	color: $primary-color;
	text-align: center;
	margin-bottom: 30px;
}

label {
	color: $body-color;
	font-weight: 700;
	margin-top: 20px;
}

.image-upload input {
	display: block;
	padding: 5px 0;
}

#upload-form {
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	box-shadow: $box-drop-shadow;
}

.file {
	display: block;
	margin: auto;
	width: 50%;
}

.form {
	margin: 30px 0;
}

.checkboxes {
	border: 1px solid $border-color;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 20px;
}

.checkbox {
	padding: 10px;
	display: block;
}

@media screen and (min-width: 768px) {
	#upload-form {
		padding: 50px;
		margin: $margin $page-margin;
	}

	.checkbox {
		padding: 10px;
		display: inline-block;
	}
}
