@import "../scss/variables";

/* Base Styles */
* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $body-family;
    color: $body-color;
    font-size: $body-size;
  }

a {
    color: $primary-color;
    text-decoration: none;
    transition: all 500ms ease;
}

a:hover {
    color: $link-hover;
    transition: all 700ms ease;
}