@import "../scss/variables";

/* Base Styles */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	box-sizing: border-box;
  }

*, *:before, *:after {
	box-sizing: inherit;
  }

body {
	font-family: $body-family;
	color: $body-color;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	overflow: auto;
}

a {
	color: $primary-color;
	text-decoration: none;
	transition: all 500ms ease;
	padding: 5px;
}

a:hover {
	color: $link-hover;
	transition: all 700ms ease;
}