button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 600ms ease;
}

.button-dark {
    background: $primary-color;
    color: $button-text;
    border: none;
}

.button-dark:hover, .button-dark:active, .button-dark:focus {
    background: $button-hover-color;
    transition: all 600ms ease;
}

.button-light {
    background: white;
    color: $primary-color;
    border-color: $primary-color;
}

.button-light:hover, .button-light:active, .button-light:focus {
    border-color: $button-hover-color;
    color: $button-hover-color;
    transition: all 600ms ease;
}

.form button {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
}