@import "../../scss/global";

.logotype {
	font-family: $logotype-font;
	padding: 0 20px 3px 20px;
	font-weight: 700;
	letter-spacing: 0.1em;
	font-size: 26px;
	font-weight: lighter;
	color: $primary-color;
	text-transform: lowercase;
	align-self: center;
}

.navbar-item {
	padding: 5px 10px;
}

.navbar {
	position: fixed;
	width: 100%;
	text-transform: uppercase;
    font-size: 14px;
}

.navbar-brand {
	padding: 8px 12px;
}

.navbar-end {
	padding-right: 20px;
}

.navbar-burger {
	color: $primary-color;
	margin-left: auto;
	align-self: center;
	transition: all 1000ms ease;
}

.navbar-burger:hover {
	color: white;
	background: $primary-color;
	transition: all 500ms ease;
}