@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Heebo:300,400,700');

@import "@/scss/bulma/bulma.sass";

/* VARIABLES */
//Fonts
$logotype-font: "Playfair Display", sans-serif;
$hero-font: "Playfair Display", sans-serif;
$body-family: "Heebo", sans-serif;
$title-font: "Heebo", sans-serif;
$title-size: 25px;
$body-size: 13px;

//Layout
$margin: 40px;
$page-margin: 60px;

//Colours
$primary-color: #3DBF74;
$primary-color-dark: #21A067;
$body-color: #4A4543;
$link: $primary-color;
$link-secondary: #777;
$light-grey: #aaa;
$link-hover: #5a5a5a;
$button-hover-color: $primary-color-dark;
$button-text: white;
$hover-background-color: #f5f5f5;
$bg-color: #f9f9f9;
$border-color: #f0f0f0;
$card-footer-border-top: $border-color;
$card-color: #fcfcfc;
$box-drop-shadow: 0 1px 3px rgba(0,0,0,0.1);

//Navigation
$navbar-item-color: $body-color;
$navbar-item-hover-color: $link-hover;
$navbar-item-hover-background-color: $hover-background-color;

$navbar-dropdown-background-color: white;
$navbar-dropdown-item-hover-color: $link-hover ;
$navbar-dropdown-hover-background-color: $hover-background-color;
$navbar-dropdown-radius: 3px;
$navbar-dropdown-border-top: solid 1px #eee;

//Forms
$input-focus-border-color: $primary-color;